# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.builder-server.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Decentreland\Projects\Builder-server\builder-server\.idea\.idea.builder-server.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
