name: build-app-docs

on:
  push:
    branches: [master]
    paths:
      - 'docs/**'
  pull_request:
    paths:
      - 'docs/**'

jobs:
  build:
    permissions:
      contents: read
    uses: decentraland/platform-actions/.github/workflows/apps-docs.yml@main
    with:
      api-spec-file: 'docs/openapi.yaml'
      api-spec-name: 'builder-server-api'
      node-version: '24'
    secrets: inherit
