name: CI

on: [push, pull_request]

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install
        run: npm ci
      - name: Test
        run: npm run test:coverage
        if: ${{ always() }}
        env:
          # Variables required to run tests as they all break
          # execution if they are not defined
          AWS_ACCESS_KEY: AWS_ACCESS_KEY
          AWS_ACCESS_SECRET: AWS_ACCESS_SECRET
          AWS_BUCKET_NAME: AWS_BUCKET_NAME
          MATIC_RPC_URL: MATIC_RPC_URL
          WAREHOUSE_URL: WAREHOUSE_URL
          WAREHOUSE_TOKEN: WAREHOUSE_TOKEN
          AUTH0_DOMAIN: AUTH0_DOMAIN
          DEFAULT_ETH_ADDRESS: DEFAULT_ETH_ADDRESS
          ANALYTICS_CONNECTION_STRING: ANALYTICS_CONNECTION_STRING
          PEER_URL: https://peer.decentraland.zone
      - name: Report Coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}